# NWO Interview ELT Project

In [886]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from datetime import datetime
import glob
# import psycopg2

## Extraction Functions

### 1. Parsing Webpage

**The task of the function is that parses html**

In [887]:
def parse_web(url):
    response = requests.get(url)
    html_data = response.text
    soup = BeautifulSoup(html_data, 'html.parser')
    return soup

### 2. Columns in Dataframe

### - Find Movie Name

**The task of the function is that extrcts names data**

In [888]:
def movie_name():
    name = [] # storing movie name data
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in info:
        name.append(each.find('a').text) # extract movie name
        
    return name

### - Find Movie Rates

**The task of the function is that extrcts rates data**

In [889]:
def movie_rate():
    rate = [] # storing movie rates data
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in info:
        if each.strong:
            rate.append(each.strong.text)
        else:
            rate.append(np.nan)
                
    return rate

### - Find Movie Vote

**The task of the function is that extrcts votes data**

In [890]:
def movie_vote():
    vote = [] # storing movie votes data
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in range(len(info)):
        if "Votes" in info[each].text.strip():
            v = info[each].find("span", {"name": "nv"})
            vote.append(v.text.strip())
        else:
            vote.append(np.nan)
    
    return vote

### - Find movie Year

**The task of the function is that extrcts year data**

In [891]:
def movie_year():
    year = [] # storing movie lauched year data
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in range(len(info)):
        y = info[each].find_all("span", {"class": "lister-item-year text-muted unbold"})
        for i in y:
            if len(i.text) == 8:
                year.append(i.text[1:-3])
            elif len(i.text) == 10:
                year.append(i.text[5:-1])
            elif len(i.text) == 11:
                if " " in i.text:
                    year.append(i.text[6:-1])
                elif "-" in i.text:
                    year.append(i.text[5:-3])
                else:
                    year.append(i.text[1:-1])
            elif len(i.text) == 12:
                if i.text[6] == '(':
                    year.append(i.text[7:-1])
                else:
                    year.append(i.text[5:-3])
            elif len(i.text) == 15:
                year.append(i.text[1:5])
            else:
                year.append(i.text[1:-1])
    
    return year

### - Find Moive Director

**In the movie director function, there are 15 types of movie with two different text patterns in summary extraction function, where are 1-14 and 15. The Moive Director function does the following tasks:**
1. Extracted data of 'comedy', 'sci-fi', 'horror', 'romance', 'action', 'thriller', 'drama', 'mystery', 'crime', 'animation', 'adventure', 'fantasy', 'comedy,romance' and 'action,comedy'
2. Extracted data of 'superhero'

In [892]:
def movie_director():
    # Extracted data of 'comedy', 'sci-fi', 'horror', 'romance', 'action', 'thriller', 'drama', 'mystery', 
    # 'crime', 'animation', 'adventure', 'fantasy', 'comedy,romance' and 'action,comedy'
    director = [] # storing movie director data
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in range(len(info)):
        ds = info[each].find_all("p", {"class": ""})
        for i in ds:
            if 'Director' in i.text:
                d = i.text.replace('\n', '').replace('Directors:', '').replace('Director:', '').strip().split('|')
                director.append(d[0])
            else:
                director.append(np.nan)
    
    return director

In [893]:
def movie_director_2():
    # Extracted data of 'superhero'
    director = [] # storing movie director data
    ds = []
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in info:
        d = each.find_all("p", {"class": "text-muted text-small"})
        ds = []
        for i in d:
            s = i.text.replace('\n', '').split('|')
            if 'Director' in s[0] or 'Stars' in s[0]:
                ds.append(s)
        
        for j in ds:
            if len(j) > 1:
                director.append(j[0][4:].replace('Director:', '').replace('Directors:', ''))
            else:
                director.append(np.nan)
                
    return director

### - Find Movie Star

**In the movie star function, there are 15 types of movie with two different text patterns in summary extraction function, where are 1-14 and 15. The Movie Star function does the following tasks:**
1. Extracted data of 'comedy', 'sci-fi', 'horror', 'romance', 'action', 'thriller', 'drama', 'mystery', 'crime', 'animation', 'adventure', 'fantasy', 'comedy,romance' and 'action,comedy'
2. Extracted data of 'superhero'

In [894]:
def movie_star():
    # Extracted data of 'comedy', 'sci-fi', 'horror', 'romance', 'action', 'thriller', 'drama', 'mystery', 
    # 'crime', 'animation', 'adventure', 'fantasy', 'comedy,romance' and 'action,comedy'
    star = [] # storing movie stars data
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in range(len(info)):
        s = info[each].find_all("p", {"class": ""})
        for i in s:
            if 'Stars' in i.text:
                ss = i.text.replace('\n', '').replace('Stars:', '').strip().split('|')
                if len(ss) > 1:
                    star.append(ss[1].strip())
                else:
                    star.append(ss[0].strip())
    
    return star

In [895]:
def movie_star_2():
    # Extracted data of 'superhero'
    star = [] # storing movie stars data
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in range(len(info)):
        s = info[each].find_all("p", {"class": "text-muted text-small"})
        for i in s:
            if 'Stars' in i.text:
                ss = i.text.replace('\n', '').replace('Stars:', '').strip().split('|')
                if len(ss) > 1:
                    star.append(ss[1].strip())
                else:
                    star.append(ss[0].strip())
    
    return star

### - Find Movie Summary

**In the movie summary function, there are 15 types of movie with two different text patterns in summary extraction function, where are 1-14 and 15. The Movie Summary function does the following tasks:**
1. Extracted data of 'comedy', 'sci-fi', 'horror', 'romance', 'action', 'thriller', 'drama', 'mystery', 'crime', 'animation', 'adventure', 'fantasy', 'comedy,romance' and 'action,comedy'
2. Extracted data of 'superhero'

In [896]:
def movie_summary():
    # Extracted data of 'comedy', 'sci-fi', 'horror', 'romance', 'action', 'thriller', 'drama', 'mystery', 
    # 'crime', 'animation', 'adventure', 'fantasy', 'comedy,romance' and 'action,comedy'
    summary = [] # storing movie summary data
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in range(len(info)):
        s = info[each].find_all("p", {"class": "text-muted"})
        for j in range(1, len(s), 2):
            summary.append((s[j].text)[1:])
    
    return summary

In [897]:
def movie_summary_2():
    # Extracted data of 'superhero'
    summary = [] # storing movie summary data
    info = parse_web(url).find_all("div", {"class": "lister-item-content"}) # find a block of all info for one movie
    for each in range(len(info)):
        s = info[each].find_all("p", {"class": ""})
        for j in s:
            summary.append((j.text[1:]))
    
    return summary

## Transformation Function

**The transform function does the following tasks.**

1. Convert rates to float type which is in string type
2. Convert votes into numeric which is in string type and thousand form

In [898]:
def transform(df):
    df['Rate'] = df['Rate'].astype(float) # reverse 'Rate' column to float type
    # remove ','
    # reverse the string 'Vote' column to numeric
    df['Vote'] = df['Vote'].str.replace(',', '')
    df['Vote'] = pd.to_numeric(df['Vote'])
    
    return df

## Logging Function

**The task of the function is that records date, time and related running information**

In [899]:
logfile = "logfile.txt"  # all event logs will be stored in this file

def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ', ' + message + '\n')

## Running ETL Process

### 1. Extraction & Transformation

**Implementing the following tasks:**
1. Generating dataframe of 'comedy', 'sci-fi', 'horror', 'romance', 'action', 'thriller', 'drama', 'mystery', 'crime', 'animation', 'adventure', 'fantasy', 'comedy,romance' and 'action,comedy'
2. Generating dataframe of 'superhero'
3. Trandforming some data formats
4. Storing all csv files to specified path

In [900]:
log("ETL Job Started")
print("ETL Job Started")

ETL Job Started

In [901]:
log("Extracting & Transforming phase Started")
print("Extracting & Transforming phase Started")

Extracting & Transforming phase Started

In [902]:
# Running process of extracting data of 'comedy', 'sci-fi', 'horror', 'romance', 'action', 'thriller', 'drama', 
# 'mystery', 'crime', 'animation', 'adventure', 'fantasy', 'comedy,romance' and 'action,comedy'
genre_list = ['comedy', 'sci-fi', 'horror', 'romance', 'action', 
              'thriller', 'drama', 'mystery', 'crime', 'animation', 
              'adventure', 'fantasy', 'comedy,romance', 'action,comedy']
for i in genre_list:
    url = 'https://www.imdb.com/search/title/?genres='+i+'&explore=title_type,genres&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=3396781f-d87f-4fac-8694-c56ce6f490fe&pf_rd_r=2K79HQVHZCG2P9E5211D&pf_rd_s=center-1&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr1_i_'+str(genre_list.index(i)+1)
    df = pd.DataFrame(list(zip(movie_name(), movie_rate(), movie_vote(), movie_year(), 
                               movie_director(), movie_star(), movie_summary())), 
                      columns=["Name", "Rate", "Vote", "Year", "Director", "Star", "Summary"])
    df = transform(df)
    df.to_csv('csv/'+i+'.csv', index=False)

In [903]:
# Running process of extracting data of 'superhero'
url = 'https://www.imdb.com/search/keyword/?keywords=superhero&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=a581b14c-5a82-4e29-9cf8-54f909ced9e1&pf_rd_r=BS3JRRSS5HY8PR54K9DZ&pf_rd_s=center-5&pf_rd_t=15051&pf_rd_i=genre&ref_=ft_gnr_pr5_i_3'
df = pd.DataFrame(list(zip(movie_name(), movie_rate(), movie_vote(), movie_year(), 
                           movie_director_2(), movie_star_2(), movie_summary_2())), 
                      columns=["Name", "Rate", "Vote", "Year", "Director", "Star", "Summary"])
df = transform(df)
df.to_csv('csv/superhero.csv', index=False)

In [904]:
log("Extracting & Transforming phase Ended")
print("Extracting & Transforming phase Ended")

Extracting & Transforming phase Ended

### 2. Loading

**Implementing the following tasks:**
1. Connect Postgresql database
2. Loading all(15 cotegories movie) csv files into Postgresql

In [932]:
log("Loading phase Started")
print("Loading phase Started")

Loading phase Started

In [960]:
# connect with Postgresql
from sqlalchemy import create_engine
engine=create_engine("postgresql://postgres:postgres@localhost:5432/postgres")

In [961]:
# reading all csv files
for csvfile in glob.glob("csv/*.csv"):
    df = pd.read_csv(csvfile, engine='python')
    try:
        df.to_sql(csvfile[4:-4], engine, if_exists= 'replace', index= False)

    except:
        print("Sorry, some error has occurred!")

    finally:
        engine.dispose()

In [962]:
log("Loading phase Ended")
print("Loading phase Ended")

Loading phase Ended

In [963]:
log("ELT Job Ended\n")
print("ELT Job Ended")

ELT Job Ended

## Using sql to query csv files

In [964]:
# sql = """DROP table IF EXISTS 
# scifi,
# actioncomedy,
# comedyromance
# """

In [965]:
# check if all csv files were in the database
sql = """
SELECT tablename 
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
schemaname != 'information_schema' AND tablename NOT LIKE 'csv%%';
"""

df = pd.read_sql_query(sql, engine)
df

         tablename
0            drama
1          mystery
2           action
3          romance
4        adventure
5         thriller
6    action_comedy
7        superhero
8           comedy
9            crime
10          sci_fi
11         fantasy
12          horror
13       animation
14  comedy_romance

In [931]:
# sql = """
# DROP SCHEMA public CASCADE;
# CREATE SCHEMA public;
# """

In [939]:
# query 'comedy' csv file
sql = """
SELECT *
FROM comedy
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Don't Look Up,7.3,104525.0,2021,Adam McKay,"Leonardo DiCaprio, Jennifer Lawrence, Meryl St...",Two low-level astronomers must go on a giant m...
1,Encanto,7.4,31488.0,2021,"Jared Bush, Byron Howard, Charise Castro Smith","Stephanie Beatriz, María Cecilia Botero, John ...",A young Colombian girl has to face the frustra...
2,Christmas Vacation,7.6,179391.0,1989,Jeremiah S. Chechik,"Chevy Chase, Beverly D'Angelo, Juliette Lewis,...",The Griswold family's plans for a big family C...
3,Love Actually,7.6,463010.0,2003,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",Follows the lives of eight very different coup...
4,Home Alone,7.6,534277.0,1990,Chris Columbus,"Macaulay Culkin, Joe Pesci, Daniel Stern, John...",An eight-year-old troublemaker must protect hi...

In [942]:
# query 'sci-fi' csv file
sql = """
SELECT *
FROM sci_fi
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Spider-Man: No Way Home,8.9,284449.0,2021,Jon Watts,"Tom Holland, Zendaya, Benedict Cumberbatch, Ja...","With Spider-Man's identity now revealed, Peter..."
1,The Matrix Resurrections,5.8,82350.0,2021,Lana Wachowski,"Keanu Reeves, Carrie-Anne Moss, Yahya Abdul-Ma...","Return to a world of two realities: one, every..."
2,Don't Look Up,7.3,104525.0,2021,Adam McKay,"Leonardo DiCaprio, Jennifer Lawrence, Meryl St...",Two low-level astronomers must go on a giant m...
3,Hawkeye,7.9,72625.0,2021,None,"Jeremy Renner, Hailee Steinfeld, Florence Pugh...",Series based on the Marvel Comics superhero Ha...
4,The Matrix,8.7,1801310.0,1999,"Lana Wachowski, Lilly Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",When a beautiful stranger leads computer hacke...

In [943]:
# query 'horror' csv file
sql = """
SELECT *
FROM horror
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Doctor Strange in the Multiverse of Madness,NaN,NaN,2022,Sam Raimi,"Benedict Cumberbatch, Elizabeth Olsen, Rachel ...",Plot unknown. Sequel to the 2016 Marvel film '...
1,Resident Evil: Welcome to Raccoon City,5.2,18173.0,2021,Johannes Roberts,"Kaya Scodelario, Robbie Amell, Hannah John-Kam...","Set in 1998, this origin story explores the se..."
2,Yellowjackets,8.0,6986.0,2021,None,"Melanie Lynskey, Tawny Cypress, Ella Purnell, ...",A wildly talented high school girl soccer team...
3,The Walking Dead,8.2,918585.0,2010–2022,None,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Sheriff Deputy Rick Grimes wakes up from a com...
4,Supernatural,8.4,416806.0,2005–2020,None,"Jared Padalecki, Jensen Ackles, Jim Beaver, Mi...",Two brothers follow their father's footsteps a...

In [944]:
# query 'action' csv file
sql = """
SELECT *
FROM action
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Spider-Man: No Way Home,8.9,284449.0,2021,Jon Watts,"Tom Holland, Zendaya, Benedict Cumberbatch, Ja...","With Spider-Man's identity now revealed, Peter..."
1,The Witcher,8.2,404498.0,2019,None,"Henry Cavill, Freya Allan, Anya Chalotra, Mimi...","Geralt of Rivia, a solitary monster hunter, st..."
2,The Matrix Resurrections,5.8,82350.0,2021,Lana Wachowski,"Keanu Reeves, Carrie-Anne Moss, Yahya Abdul-Ma...","Return to a world of two realities: one, every..."
3,Hawkeye,7.9,72625.0,2021,None,"Jeremy Renner, Hailee Steinfeld, Florence Pugh...",Series based on the Marvel Comics superhero Ha...
4,The Wheel of Time,7.3,59036.0,2021,None,"Rosamund Pike, Daniel Henney, Madeleine Madden...",Set in a high fantasy world where magic exists...

In [945]:
# query 'romance' csv file
sql = """
SELECT *
FROM romance
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Love Actually,7.6,463010.0,2003,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",Follows the lives of eight very different coup...
1,The Lost City,NaN,NaN,2022,"Aaron Nee, Adam Nee","Sandra Bullock, Brad Pitt, Daniel Radcliffe, C...",A reclusive romance novelist on a book tour wi...
2,Emily in Paris,7.0,65278.0,2020,None,"Lily Collins, Philippine Leroy-Beaulieu, Ashle...",A young American woman from the Midwest is hir...
3,Licorice Pizza,8.3,3700.0,2021,Paul Thomas Anderson,"Alana Haim, Cooper Hoffman, Sean Penn, Tom Waits",The story of Alana Kane and Gary Valentine gro...
4,The Power of the Dog,7.0,49410.0,2021,Jane Campion,"Benedict Cumberbatch, Kirsten Dunst, Jesse Ple...",Charismatic rancher Phil Burbank inspires fear...

In [946]:
# query 'thriller' csv file
sql = """
SELECT *
FROM thriller
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,The Northman,NaN,NaN,2022,Robert Eggers,"Alexander Skarsgård, Anya Taylor-Joy, Willem D...","From acclaimed director Robert Eggers, The Nor..."
1,The King's Man,6.8,2993.0,2021,Matthew Vaughn,"Ralph Fiennes, Gemma Arterton, Rhys Ifans, Har...","In the early years of the 20th century, the Ki..."
2,Pushpa: The Rise - Part 1,8.2,17546.0,2021,Sukumar,"Allu Arjun, Fahadh Faasil, Rashmika Mandanna, ...","Story of Pushpa Raj, a lorry driver in Seshach..."
3,Station Eleven,7.0,2265.0,2021–2022,None,"Joe Pingue, Mackenzie Davis, Himesh Patel, Mat...",A post apocalyptic saga spanning multiple time...
4,Die Hard,8.2,838003.0,1988,John McTiernan,"Bruce Willis, Alan Rickman, Bonnie Bedelia, Re...",An NYPD officer tries to save his wife and sev...

In [947]:
# query 'drama' csv file
sql = """
SELECT *
FROM drama
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,The Witcher,8.2,404498.0,2019,None,"Henry Cavill, Freya Allan, Anya Chalotra, Mimi...","Geralt of Rivia, a solitary monster hunter, st..."
1,Don't Look Up,7.3,104525.0,2021,Adam McKay,"Leonardo DiCaprio, Jennifer Lawrence, Meryl St...",Two low-level astronomers must go on a giant m...
2,Hawkeye,7.9,72625.0,2021,None,"Jeremy Renner, Hailee Steinfeld, Florence Pugh...",Series based on the Marvel Comics superhero Ha...
3,1883,9.2,6306.0,2021,None,"Sam Elliott, Tim McGraw, Faith Hill, Isabel May",Follows the Dutton family on a journey west th...
4,Yellowstone,8.7,75720.0,2018,None,"Brecken Merrill, Jefferson White, Gil Birmingh...",A ranching family in Montana faces off against...

In [948]:
# query 'mystery' csv file
sql = """
SELECT * 
FROM mystery
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,The Witcher,8.2,404498.0,2019,None,"Henry Cavill, Freya Allan, Anya Chalotra, Mimi...","Geralt of Rivia, a solitary monster hunter, st..."
1,Hawkeye,7.9,72625.0,2021,None,"Jeremy Renner, Hailee Steinfeld, Florence Pugh...",Series based on the Marvel Comics superhero Ha...
2,Dexter: New Blood,8.9,30708.0,2021–2022,None,"Michael C. Hall, Jack Alcott, Julia Jones, Joh...",Set 10 years after Dexter Morgan went missing ...
3,Station Eleven,7.0,2265.0,2021–2022,None,"Joe Pingue, Mackenzie Davis, Himesh Patel, Mat...",A post apocalyptic saga spanning multiple time...
4,Death on the Nile,NaN,NaN,2022,Kenneth Branagh,"Kenneth Branagh, Gal Gadot, Tom Bateman, Rose ...","While on vacation on the Nile, Hercule Poirot ..."

In [949]:
# query 'crime' csv file
sql = """
SELECT *
FROM crime
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Hawkeye,7.9,72625.0,2021,None,"Jeremy Renner, Hailee Steinfeld, Florence Pugh...",Series based on the Marvel Comics superhero Ha...
1,The Unforgivable,7.2,52091.0,2021,Nora Fingscheidt,"Sandra Bullock, Viola Davis, Vincent D'Onofrio...",A woman is released from prison after serving ...
2,Dexter: New Blood,8.9,30708.0,2021–2022,None,"Michael C. Hall, Jack Alcott, Julia Jones, Joh...",Set 10 years after Dexter Morgan went missing ...
3,The King's Man,6.8,2993.0,2021,Matthew Vaughn,"Ralph Fiennes, Gemma Arterton, Rhys Ifans, Har...","In the early years of the 20th century, the Ki..."
4,Pushpa: The Rise - Part 1,8.2,17546.0,2021,Sukumar,"Allu Arjun, Fahadh Faasil, Rashmika Mandanna, ...","Story of Pushpa Raj, a lorry driver in Seshach..."

In [950]:
# query 'animation' csv file
sql = """
SELECT *
FROM animation
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Encanto,7.4,31488.0,2021,"Jared Bush, Byron Howard, Charise Castro Smith","Stephanie Beatriz, María Cecilia Botero, John ...",A young Colombian girl has to face the frustra...
1,Arcane,9.2,116005.0,2021,None,"Hailee Steinfeld, Kevin Alejandro, Jason Spisa...",Set in utopian Piltover and the oppressed unde...
2,Sing 2,7.6,3011.0,2021,Garth Jennings,"Matthew McConaughey, Reese Witherspoon, Scarle...",Buster Moon and his friends must persuade recl...
3,The Grinch,6.4,64548.0,2018,"Yarrow Cheney, Scott Mosier","Benedict Cumberbatch, Cameron Seely, Rashida J...",A grumpy Grinch (Benedict Cumberbatch) plots t...
4,The Polar Express,6.6,195595.0,2004,Robert Zemeckis,"Tom Hanks, Chris Coppola, Michael Jeter, Lesli...","On Christmas Eve, a young boy embarks on a mag..."

In [951]:
# query 'adventure' csv file
sql = """
SELECT * 
FROM adventure
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Spider-Man: No Way Home,8.9,284449.0,2021,Jon Watts,"Tom Holland, Zendaya, Benedict Cumberbatch, Ja...","With Spider-Man's identity now revealed, Peter..."
1,The Witcher,8.2,404498.0,2019,None,"Henry Cavill, Freya Allan, Anya Chalotra, Mimi...","Geralt of Rivia, a solitary monster hunter, st..."
2,Hawkeye,7.9,72625.0,2021,None,"Jeremy Renner, Hailee Steinfeld, Florence Pugh...",Series based on the Marvel Comics superhero Ha...
3,The Wheel of Time,7.3,59036.0,2021,None,"Rosamund Pike, Daniel Henney, Madeleine Madden...",Set in a high fantasy world where magic exists...
4,The Northman,NaN,NaN,2022,Robert Eggers,"Alexander Skarsgård, Anya Taylor-Joy, Willem D...","From acclaimed director Robert Eggers, The Nor..."

In [952]:
# query 'fantasy' csv file
sql = """
SELECT * 
FROM fantasy
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Spider-Man: No Way Home,8.9,284449.0,2021,Jon Watts,"Tom Holland, Zendaya, Benedict Cumberbatch, Ja...","With Spider-Man's identity now revealed, Peter..."
1,The Witcher,8.2,404498.0,2019,None,"Henry Cavill, Freya Allan, Anya Chalotra, Mimi...","Geralt of Rivia, a solitary monster hunter, st..."
2,The Wheel of Time,7.3,59036.0,2021,None,"Rosamund Pike, Daniel Henney, Madeleine Madden...",Set in a high fantasy world where magic exists...
3,Encanto,7.4,31488.0,2021,"Jared Bush, Byron Howard, Charise Castro Smith","Stephanie Beatriz, María Cecilia Botero, John ...",A young Colombian girl has to face the frustra...
4,Doctor Strange in the Multiverse of Madness,NaN,NaN,2022,Sam Raimi,"Benedict Cumberbatch, Elizabeth Olsen, Rachel ...",Plot unknown. Sequel to the 2016 Marvel film '...

In [955]:
# query 'comedy,romance' csv file
sql = """
SELECT * 
FROM comedy_romance
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Love Actually,7.6,463010.0,2003,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",Follows the lives of eight very different coup...
1,The Lost City,NaN,NaN,2022,"Aaron Nee, Adam Nee","Sandra Bullock, Brad Pitt, Daniel Radcliffe, C...",A reclusive romance novelist on a book tour wi...
2,Emily in Paris,7.0,65278.0,2020,None,"Lily Collins, Philippine Leroy-Beaulieu, Ashle...",A young American woman from the Midwest is hir...
3,Licorice Pizza,8.3,3700.0,2021,Paul Thomas Anderson,"Alana Haim, Cooper Hoffman, Sean Penn, Tom Waits",The story of Alana Kane and Gary Valentine gro...
4,Elf,7.0,253708.0,2003,Jon Favreau,"Will Ferrell, James Caan, Bob Newhart, Zooey D...","Raised as an over-sized elf, a human travels f..."

In [956]:
# query 'action,comedy' csv file
sql = """
SELECT * 
FROM action_comedy
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,The Lost City,NaN,NaN,2022,"Aaron Nee, Adam Nee","Sandra Bullock, Brad Pitt, Daniel Radcliffe, C...",A reclusive romance novelist on a book tour wi...
1,The King's Man,6.8,2993.0,2021,Matthew Vaughn,"Ralph Fiennes, Gemma Arterton, Rhys Ifans, Har...","In the early years of the 20th century, the Ki..."
2,Spider-Man: Into the Spider-Verse,8.4,451490.0,2018,"Bob Persichetti, Peter Ramsey, Rodney Rothman","Shameik Moore, Jake Johnson, Hailee Steinfeld,...",Teen Miles Morales becomes the Spider-Man of h...
3,Red Notice,6.4,189245.0,2021,Rawson Marshall Thurber,"Dwayne Johnson, Ryan Reynolds, Gal Gadot, Ritu...",An Interpol agent tracks the world's most want...
4,Free Guy,7.2,241491.0,2021,Shawn Levy,"Ryan Reynolds, Jodie Comer, Taika Waititi, Lil...",A bank teller discovers that he's actually an ...

In [957]:
# query 'superhero' csv file
sql = """
SELECT * 
FROM superhero
"""
df = pd.read_sql_query(sql, engine)
df.head()

,Name,Rate,Vote,Year,Director,Star,Summary
0,Spider-Man: No Way Home,8.9,284449.0,2021,Jon Watts,"Tom Holland, Zendaya, Benedict Cumberbatch, Ja...","With Spider-Man's identity now revealed, Peter..."
1,Hawkeye,7.9,72625.0,2021,None,"Jeremy Renner, Hailee Steinfeld, Florence Pugh...",Series based on the Marvel Comics superhero Ha...
2,Doctor Strange in the Multiverse of Madness,NaN,NaN,2022,Sam Raimi,"Benedict Cumberbatch, Elizabeth Olsen, Rachel ...",Plot unknown. Sequel to the 2016 Marvel film '...
3,Spider-Man,7.3,755426.0,2002,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Willem Dafoe, Ja...","When bitten by a genetically modified spider, ..."
4,Spider-Man: Homecoming,7.4,582831.0,2017,Jon Watts,"Tom Holland, Michael Keaton, Robert Downey Jr....",Peter Parker balances his life as an ordinary ...